body {
    background-color: #997CFF;
    margin: 0;
}

#navbar {
    display: flex;
    justify-content: center;
    background-color: #8067F1;
}

#example-img {
    object-fit: contain;
    max-width: 1000px;
}

#example-text {
    max-width: 1000px;
}

#homepage-container {
    display: grid;
    justify-content: center;
}

#image-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

.contents {
    display: flex;
    max-width: 1000px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar-text {
    color: white;
}